.code_box {
	background: #272822;
	overflow-x: scroll; 
	overflow-y: hidden;
	color: #f8f8f2;
	padding: 6px;
}
.c_green {
	color: #008000;
}
.c_pink {
	color: #f92672;
}
.c_yellow {
	color: #e6db74;
}
.c_blue {
	color: #66d9ef;
}
.c_white {
	color: #f8f8f2;
}
.c_purple {
	color: #ae81ff;
}
.c_brown {
	color: #a31515;
}