@media print{
	.fancy-box{
		font-family: monospace;
		border: none;
	}
	
	a, .box-title, .box-title-red{
		color: black !important;
	}
	
	.box-text{
		color: darkslategray !important;
		margin-bottom: 8px;
	}
	
	.fancy-filter, .FancyAdBox, .article-footer, .badge-container,
	#img-pepe, #main-logo, footer{
		display: none;
	}
	
	body{
		background-color: white !important;
		color: black !important;
		font-family: monospace;
	}
	
	.container{
		width: auto;
	}
	
	.post-content{
		margin: auto;
	}
	
}